@use "../../assets/sass/variables" as *;

.login-input {
  padding: 0.2rem;

  &__text {
    display: block;
    width: 16rem;
    font-size: 1.5rem;
    border-radius: 0.1rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }

  &__message {
    color: $color-red;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__link {
    font-size: 1.3rem;
    color: $color-light-grey;
  }
}

@media (min-width: 415px) {
  .login-input__text {
    width: 25rem;
  }
}
