@use "../../assets/sass/variables" as *;

.image-carousel {
  height: 12rem;
  width: 18rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;

  &__delete {
    position: absolute;
    z-index: 1;
    background-color: $color-red;
    color: $color-white;
    font-size: 1.4rem;
    top: 0.1rem;
    right: 0.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0.2rem 0.5rem;
    border: none;
    cursor: pointer;
  }

  &__img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 0.2rem;
  }

  &__btn {
    color: $color-white;
    border: none;
    background-color: rgba(57, 61, 79, 0.6);
    z-index: 1;
    cursor: pointer;
    transition: 500ms;
  }

  &__btn:hover {
    background-color: rgba(57, 61, 79, 0.9);
  }

  &__msg {
    color: $color-white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

.image-carousel__sm {
  height: 12rem !important;
  width: 18rem !important;
  z-index: 1;
}

@media (min-width: 435px) {
  .image-carousel {
    height: 15rem;
    width: 24rem;
  }

  .image-carousel__sm {
    height: 15rem !important;
    width: 24rem !important;
  }
}

@media (min-width: 610px) {
  .image-carousel {
    height: 19rem;
    width: 30rem;
  }

  .image-carousel__sm {
    height: 15rem !important;
    width: 24rem !important;
  }
}

@media (min-width: 1150px) {
  .image-carousel {
    height: 22rem;
    width: 36rem;
  }

  .image-carousel__sm {
    height: 19rem !important;
    width: 30rem !important;
  }
}

@media (min-width: 1285px) {
  .image-carousel {
    height: 24rem;
    width: 40rem;
  }
}

@media (min-width: 1400px) {
  .image-carousel {
    height: 30rem;
    width: 50rem;
  }

  .image-carousel__sm {
    height: 22rem !important;
    width: 36rem !important;
  }
}
