@use "../../assets/sass/variables" as *;

.login {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  &__container--left {
    grid-area: 1 / 1 / 2 / 2;
    background: #457fca;
    background: -webkit-linear-gradient(
      to left,
      #5691c8,
      #457fca
    );
    background: linear-gradient(
      to left,
      #5691c8,
      #457fca
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login__img {
      height: 10rem;
      width: auto;
      margin-bottom: 2rem;
    }

    .login__title {
        font-style: italic;
        color: $color-white;
        font-size: 3rem;
        text-align: center;
        padding: 0 1rem;
    }
  }

  &__container--right {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 900px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #457fca;
    background: -webkit-linear-gradient(
      to left,
      #5691c8,
      #457fca
    );
    background: linear-gradient(
      to left,
      #5691c8,
      #457fca
    );

    &__container--left {
      background-color: transparent;
      background: transparent;

      .login__title {
        font-size: 2rem !important;
      }
    }
  }
}

@media(max-width: 415px) {
  .login__img {
    height: 8rem !important;
  }

  .login__title {
    display: none;
  }
}