@use '../../assets/sass/variables' as *;

.home {
    padding: 0 4rem;

    &__container {
        border-bottom: 0.1rem dashed $color-light-grey;

        .home__title {
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 585px) {
    .home {
        padding: 0;
    }

    .home__title {
        display: none;
    }
}