@use "../../assets/sass/variables" as *;

.property-card {
  padding: 3rem 0rem;
  border-top: 0.1rem dashed $color-light-grey;
  display: flex;

  &__container--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

    .property-card__img {
      height: 25rem;
      width: auto;
      max-width: 37rem;
    }
  }

  &__container--text {
    .property-card__title {
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
    }

    .property-card__list {
      display: flex;
      height: 3rem;
      list-style: none;
      align-items: center;
      font-size: 1.4rem;

      .property-card__item {
        margin-right: 2rem;
      }
    }

    .property-card__description {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    .property-card__type {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    .property-card__value {
      font-size: 1.8rem;
      font-weight: 700;
      background-color: $color-black;
      color: $color-bright-white;
      text-align: center;
      border-radius: 0.3rem;
      margin-bottom: 1rem;
    }

    .property-card__container--btn {
      display: flex;

      .property-card__btn {
        height: 3rem;
        width: 50%;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        color: $color-bright-white;
        font-weight: 500;
        cursor: pointer;

        &--sold {
          background-color: $color-blue;
          margin-right: 1rem;
        }

        &--delete {
          background-color: $color-red;
        }
      }

      .property-card__complete {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 50%;
        border-radius: 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        color: $color-bright-white;
        font-weight: 500;
        background-color: $color-green;
        margin-right: 1rem;
      }
    }
  }
}

@media (max-width: 1450px) {
  .property-card__container--img {
    margin-right: 2rem;

    .property-card__img {
      height: 20rem;
      max-width: 33rem;
    }
  }
}

@media (max-width: 1050px) {
  .property-card__list {
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: flex-start !important;
  }
}

@media (max-width: 990px) {
  .property-card__title {
    font-size: 2rem !important;
  }

  .property-card__description {
    display: none;
  }

  .property-card__container--btn {
    flex-direction: column;

    .property-card__btn {
      width: 100% !important;
      margin-bottom: 0.2rem;
    }

    .property-card__complete {
      width: 100% !important;
      margin-bottom: 0.2rem;
    }
  }
}

@media (max-width: 850px) {
  .property-card {
    flex-direction: column;

    &__container--img {
      margin-bottom: 0.5rem;
      margin-right: 0;

      .property-card__img {
        width: 100%;
        height: auto;
      }
    }
  } 
}