@use "../../assets/sass/variables" as *;

.property-card {
  border-top: 0.1rem dashed $color-navy;
  padding: 1rem 0;
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  &__dec--bottom {
    background-color: $color-turquoise;
    height: 33rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
  }

  &__dec--top {
    background-color: $color-navy;
    height: 1rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 32.5rem;
    display: none;
  }

  &__container--text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .property-card__title {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .property-card__description {
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
    }

    .property-card__type {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }

    .property-card__list {
      font-size: 1.5rem;
      list-style: none;

      .property-card__item {
        margin-right: 0.5rem;
      }
    }

    .property-card__complete {
      background-color: $color-turquoise;
      color: $color-white;
      border-radius: 0.2rem;
      padding: 0.1rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem;
      width: 15rem;
    }

    .property-card__container--btn {
      height: 8.5rem;
      margin-top: 2rem;
    }

    .property-card__btn {
      padding: 0.5rem;
      margin-right: 0.5rem;
      font-size: 1.6rem;
      color: $color-white;
      border: none;
      border-radius: 0.3rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: 500ms;
    }

    .property-card__btn:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .property-card__btn--sold {
      background-color: $color-green;
    }

    .property-card__btn--update {
      background-color: $color-blue;
    }

    .property-card__btn--delete {
      background-color: $color-red;
    }
  }

  &__container--img {
    position: relative;

    .property-card__value {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media (min-width: 675px) {
  .property-card__dec--top {
    display: unset;
  }

  .property-card__dec--bottom {
    display: unset;
  }

  .property-card__container--text {
    padding: 0 1.5rem;

    .property-card__list {
      display: flex;
    }

    .property-card__complete {
      background-color: rgba(255, 255, 255, 0.6);
      color: $color-navy;
    }
  }

  .property-card__value {
    right: 1rem !important;
    bottom: 1rem !important;    
    font-size: 2rem;
  }
}

@media (min-width: 980px) {
  .property-card {
    height: 40rem;
    flex-direction: row-reverse;
    padding: 0;

    &__dec--bottom {
      height: 12rem;
    }

    &__dec--top {
      height: 1rem;
      bottom: 11.5rem;
    }

    &__container--text {
      width: 23rem;
      height: 30rem;
      padding: 0;

      .property-card__title {
        margin-top: 0;
      }

      .property-card__container--btn {
        margin-top: 0 !important;
      }
    }
  }
}

@media (min-width: 1150px) {
  .property-card {
    padding: 2rem;

    &__value {
      font-size: 2.8rem !important;
    }
  }
}

@media (min-width: 1285px) {
  .property-card__container--text {
    width: 26rem !important;

    .property-card__title {
      font-size: 2.3rem;
      letter-spacing: 0.2rem;
    }

    .property-card__description {
      font-size: 1.3rem !important;
    }
  }
}
