@use '../../assets/sass/variables' as *;

.property-container {
    min-height: 60vh;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align:center;
        text-decoration: dashed;
    }
}

@media (max-width: 585px) {
    .property-container {
        margin: 2rem;
    }
}

@media (max-width: 450px) {
    .property-container {
        margin: 0.5rem;
    }
}