@use "../../assets/sass/variables" as *;

.create-user-input {
  padding: 0.2rem;

  &__text {
    display: block;
    width: 16rem;
    font-size: 1.5rem;
    border-radius: 0.1rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
  }

  &__instruction {
    width: 16rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    color: $color-white;
  }

  &__failure-message {
    width: 16rem;
    color: $color-red;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &__success-message {
    width: 16rem;
    color: green;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &__link {
    font-size: 1.3rem;
    color: $color-light-grey;
  }
}

@media (min-width: 415px) {
  .create-user-input__text {
    width: 25rem;
  }

  .create-user-input__instruction {
    width: 25rem;
  }

  .create-user-input__success-message {
    width: 25rem;
  }

  .create-user-input__failure-message {
    width: 25rem;
  }
}
