@use '../../assets/sass/variables' as *;

.create-user-input {
    padding: 0.2rem;

    &__text {
        display: block;
        width: 25rem;
        font-size: 1.5rem;
        border-radius: 0.1rem;
        margin: 1rem 0;
        padding: 0.5rem;
    }

    &__submit {
        background-color: $color-blue;
        color: $color-white;
        border: none;
        height: 2rem;
        width: 15rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        cursor: pointer;
    }

    &__failure-message {
        color: red;
        margin-bottom: 0.5rem;
    }

    &__success-message {
        color: green;
        margin-bottom: 0.5rem;
    }

    &__link {
        font-size: 1.2rem;
    }
}