@use '../../assets/sass/variables' as *;

.add-property-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        height: 31rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__container--right {
        width: 55%;
        flex-wrap: wrap;
    }

    &__img {
        height: 15rem;
        width: auto;
        border-radius: 0.2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 0.2rem;
    }

    &__dec {
        height: 15rem;
        width: 4rem;
        background-color: $color-navy;
        margin: 0.2rem;
        border-radius: 0.2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__dec--top {
        width: 4.8rem;
        background-color: $color-turquoise;
    }
}