@use "../../assets/sass/variables" as *;

.add-property-form {
  width: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;

  .add-property-form__container {
    width: 100%;
  }

  .add-property-form__text {
    display: block;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    margin: 0.3rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: $color-light-grey;

    &--bedroom {
      margin-right: 0.5rem;
    }
  }

  .add-property-form__images {
    width: 100%;
    display: flex;
    align-items: center;

    .add-property-form__add {
      width: 2.2rem;
      height: 2.2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      cursor: pointer;
      background-color: $color-navy;
      color: $color-white;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.6rem;
      font-weight: bold;
      margin-left: 0.3rem;
    }
  }

  .add-property-form__container--btn {
    width: 100%;
    margin: 0.5rem 0;

    .add-property-form__label {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    .add-property-form__select {
      font-size: 1.5rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border-radius: 0.4rem;
      background-color: $color-light-grey;
      border: none;
    }

    .add-property-form__submit {
      display: block;
      background-color: $color-navy;
      color: $color-white;
      border: none;
      height: 2rem;
      padding: 0 1rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      cursor: pointer;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 500px) {
  .add-property-form {
    width: 27rem !important;
    background-color: $color-turquoise;
    padding: 1rem 3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .add-property-form__container {
      display: flex;
    }

    .add-property-form__text {
      background-color: $color-white;
    }

    .add-property-form__select {
      background-color: $color-white !important;
    }

    .add-property-form__submit {
      width: 15rem;
    }
  }
}

@media (min-width: 700px) {
  .add-property-form {
    width: 38rem !important;
    margin: 0.2rem;
  }
}

@media (min-width: 1750px) {
  .add-property-form {
    height: 38.5rem;
  }
}