@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$color-black: #0e0e0e;
$color-white: #f5f5f5;
$color-bright-white: #ffffff;
$color-light-grey: #dce6e1;
$color-dark-grey: #4c4c4c;
$color-turquoise: #709aa2;
$color-blue: #457fca;
$color-navy: #3d3d4f;
$color-green: #19d171;
$color-orange: #e3b00b;
$color-red: #c63535;

$font-main: "Sofia Sans", sans-serif;
$font-title: "Lobster", cursive;
